.survey .answers .progress {
    margin-bottom: 0px;
    width: 50%;
    float: left;
}

.survey .answers .active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.survey .answers .answer {
    margin-bottom: 0px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.survey .answers .answer input {
    margin-right: 10px;
}