form button {
    margin-top: 5px;
}

form .options,
form .name {
    background-color: #EEEEEE;
    padding: 5px;
    border: 1px solid #CCC;
}

form .input-group .input-group-addon:first-child {
    min-width: 10em;
    text-align: left;
}

form label {
    margin-bottom: 0;   
}

form div .input-group {
    margin-bottom: 5px;
}

form div .input-group:last-child {
    margin-bottom: 0px;
}

form .form-control {
    min-width: 500px;
}
form .panel-heading .nav-tabs.nav-justified {   
    margin-bottom: -11px;
}

form input[type="checkbox"] {
    margin-top: 10px;
}

form select {
    margin-top: 5px;
    margin-right: 5px;
}

form .btn {
    float: left;
    margin-right: 5px;
}