.navbar .container {
    width: 95%;
}

.symbb_forum_breadcrumb a {
    color: #000;
}

.symbb_forum_body,
.symbb_forum_breadcrumb {
    display: block;
    width: 95%;
    margin: 1em auto;
}

.symbb_forum_list .row.space {
    height: 1em;
}

.symbb_forum_list .row.category {
    background-color: #1e2025;
    padding: 0.5em;
    color: #FFF;
}

.symbb_forum_list .row.category {
    margin-top: 1em;
}

.symbb_forum_list .row.forum, 
.symbb_forum_list .row.subcategory {
    background-color: #EEE;
    padding: 0.3em;
    margin-bottom: 1px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

.symbb_forum_list .row.category a, 
.symbb_forum_list .row a {
    cursor: pointer;
    color: #FFF;
}

.symbb_forum_list .row.forum a, 
.symbb_forum_list .row.subcategory a {
    cursor: pointer;
    color: #000;
}


.symbb_forum_list .row.forum .description {
    font-size: 0.8em;
}

.symbb_forum_list .row.forum .subForumList {
    font-size: 0.8em;
}


.symbb_forum_list .row.forum:hover {
    background-color: #CCC;
}

.symbb_forum_list .padding1em {
    padding: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}