.navbar .container {
    width: 100%;
}

.symbb_body {
    display: block;
    width: 95%;
    margin: 14px auto;
}

.symbb_list .row.space {
    height: 14px;
}

.symbb_list .row.category {
    padding: 7px;
    color: #FFF;
    padding-top: 10px;
}

.symbb_list .row.category {
    margin-top: 14px;
    border-radius: 5px 5px 0 0;
}

.symbb_list .row.forum, 
.symbb_list .row.subcategory, 
.symbb_list .row.topic {
    background-color: #EEE;
    padding: 4px;
    padding-top: 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-size: 12px;
}

.symbb_list .row .nameBlock .user,
.symbb_list .row .lastPostBlock .user,
.symbb_list .row .nameBlock .description {
    font-size: 11px;
    color: #2E5F75;
}

.symbb_header_bg .nameBlock .description{
    color: #FFF !important;
}

.symbb_list .row.category a, 
.symbb_list .row a {
    cursor: pointer;
    color: #FFF;
}

.symbb_list .row.forum a, 
.symbb_list .row.subcategory a, 
.symbb_list .row.topic a {
    cursor: pointer;
    color: #000;
}


.symbb_list .row.forum .description {
    font-size: 11px;
}

.symbb_list .row.forum .subForumList {
    float: left;
    font-size: 11px;
    margin-left: 20px;
    font-style: italic;
}


.symbb_list .row.forum:hover {
    background-color: #CCC;
}

.symbb_list .row.topic:hover {
    background-color: #CCC;
}

.symbb_list .row.topic:hover a {
    text-decoration: none;
}

.symbb_list .padding1em {
    padding: 14px;
}

.symbb_list .row {
    margin-left: 0;
    margin-right: 0;
}

.symbb_list .row .glyphicon {
    margin-right: 10px;
}

.symbb_list .row .name {
    margin-right: 7px;
    float: left;
}
.symbb_list .row .labels {
    float: right;
    margin-top: -4px;
}


.symbb_list .row .user {
    clear: both;
}

.symbb_list .row.forum .subForumList
.symbb_list  .topicCountBlock ,
.symbb_list  .postCountBlock {
    text-align: right;
}