root, body, html { 
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.navbar .container {
    width: 100%;
}

.symbb_body {
    display: block;
    width: 95%;
    margin: 14px auto;
}

.symbb_header {
    position: relative;
}

.symbb_header .navbar {
    margin-bottom: 0;
    width: 95%;
    margin: 0 auto;
}


.symbb_header .content {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

.symbb_header .logo {
    height: 45px;
    width: 100%;
}

.symbb_header .border_bottom {
    height: 5px;
    width: 100%;
    background-color: #FAA51B;
    position: absolute;
    bottom: 0;
}


.row {
    margin-left: 0;
    margin-right: 0;
}

.symbb_header_bg {
    background-image: -webkit-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: -moz-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: -o-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: linear-gradient(#2E6278, #2C445E 100%);
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.clear {
    clear: both;
}

.fos_user_content {
    width: 250px;
    margin: 0 auto;
}

.m-top-1 {
    margin-top: 1em;
}