root, body, html { 
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.navbar .container {
    width: 100%;
}

.symbb_body {
    display: block;
    width: 95%;
    margin: 14px auto;
}

.symbb_header {
    position: relative;
}

.symbb_header .navbar {
    margin-bottom: 0;
    width: 95%;
    margin: 0 auto;
}


.symbb_header .content {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

.symbb_header .logo {
    height: 45px;
    width: 100%;
}

.symbb_header .border_bottom {
    height: 5px;
    width: 100%;
    background-color: #FAA51B;
    position: absolute;
    bottom: 0;
}


.row {
    margin-left: 0;
    margin-right: 0;
}

.symbb_header_bg {
    background-image: -webkit-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: -moz-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: -o-linear-gradient(#2E6278, #2C445E 100%); 
    background-image: linear-gradient(#2E6278, #2C445E 100%);
}

.f-right {
    float: right !important;
}

.f-left {
    float: left !important;
}

.clear {
    clear: both;
}

.fos_user_content {
    width: 250px;
    margin: 0 auto;
}

.m-top-1 {
    margin-top: 1em;
}

.symbb_user_panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.3);
    z-index: 1000;
    color: #FFF;
}

.symbb_user_panel .content {
    width: 95%;
    margin: 5px auto;
}

.symbb_user_panel .content .avatar {
    float: left;
}

.symbb_user_panel .content .avatar img {
    height: 32px;
    border: 1px solid #FFF;
}

.symbb_user_panel .content .username {
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}

.symbb_user_panel .content .usermenu {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.padding10 {
    padding: 10px;
}