.symbb_topic {
    
}

.symbb_topic .row.header {
    padding: 0.5em;
    color: #FFF;
    padding-top: 0.8em;
    border-radius: 5px 5px 0 0;
}

.symbb_topic .row.body {
    background-color: #EEE;
    padding: 0.3em;
    padding-top: 0.8em;
    margin-bottom: 1px;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.symbb_topic .textblock .text {
    padding-right: 20px;
}

.symbb_topic .textblock .date {
    margin-bottom: 1em;
    border-bottom: 1px solid #CCC;
    color: #BBB;
}

.symbb_topic .row.signature {
    background-color: #EEE;
    padding: 0.3em;
    padding-top: 0.8em;
    margin-top: 1em;
    border-top: 1px solid #CCC;
}

.symbb_topic .avatar img {
    width: 150px;
    height: 150px;
}

.symbb_topic .row.subheader {
    padding: 0.5em;
    color: #FFF;
    padding-top: 0.8em;
    border-radius: 5px 5px 0 0;
    margin-top: 1em;
}

.symbb_topic .like_dislike {
    margin-top: 1em;
    float: right;
}

.symbb_topic .like_img ,
.symbb_topic .dislike_img {
    display: inline;
    float: left;
    cursor: pointer;
}

.symbb_topic .like_count ,
.symbb_topic .dislike_count {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.5em;
    margin-right: 1em;
}

.symbb_topic .userblock {
    margin-top: 5px;    
    margin-left: 1em;
}

.symbb_topic .textblock {
    width: auto;
}

.symbb_topic .userblock .username {
   font-size: 1em;
   font-weight: bold;
   text-decoration: underline;
   margin-top: 0.5em;
}

.symbb_topic .userblock .userdata .text {
   float: left;
}

.symbb_topic .userblock .userdata .data {
    margin-left: 8em;
}