{% extends getSymbbTemplateConfig('forum') ~ ':Forum:index.html.twig' %}



{% block symbb_forum_breadcrumb %}
    {{ getSymbbBreadcrumb(topic) }}
{% endblock %}

{% block symbb_forum_body %}

    <div class="symbb_forum_list">
        {{ symbBBForumMacro.showPostList(topic) }}
    </div>
{% endblock %}

