{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layout.html.twig' %}


{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(topic) }}
{% endblock %}

{% block symbb_body %}

    <div class="symbb_list">
        {{ symbBBForumTopicMacro.showPostList(topic) }}
    </div>
{% endblock %}

