It was written a new answer to "{{ topic.getName() }}". <br/>
Click <a href="{{ path('symbb_forum_topic_show', {'name': topic.getSeoName(), 'id': topic.getId()}) }}">here</a> to read the complete article.
