{% trans_default_domain "symbb_frontend" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
    {% block stylesheets %} 
        {% stylesheets 
            '@SymBBTemplateSimpleBundle/Resources/public/css/theme.css' filter='?yui_css'
            '@SymBBTemplateSimpleBundle/Resources/public/css/form.css' filter='?yui_css'
            '@SymBBTemplateSimpleBundle/Resources/public/css/breadcrumb.css' filter='?yui_css'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        
    {% block javascripts %} 
        
    {% endblock %}
    </head>

    <body>
        
        <div class="symbb_header symbb_header_bg">
            <div class="content">
                <div class="logo">&nbsp;</div>
                <div class="navi">
                    {% block symbb_navi %} 
                    {% endblock %}
                </div>
            </div>
            <div class="border_bottom">&nbsp;</div>
        </div>
            
        {% block symbb_breadcrumb %}
        {% endblock %}
        
        <div class="symbb_body">
            
            {% if app.getUser.getSymbbType() == 'guest' %}
                <div class="alert alert-info">{% trans %}You are not currently logged.{% endtrans %}</div>
            {% endif %}
            
            {% block symbb_body %}

            {% endblock %}
        </div>
    </body>
</html>