{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}


<div class="panel panel-primary">
  <div class="panel-heading">{% trans from 'symbb_frontend' %}inbox{% endtrans %}</div>
  <div class="panel-body">
    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
  </div>
</div>


{% endblock %}