{% trans_default_domain "symbb_frontend" %}

<div class="symbb_tabcontent" data-tab="survey">
    {{ form_row(form.surveyQuestion) }}
    {{ form_row(form.surveyAnswers) }}
    {{ form_row(form.surveyChoices) }}
</div>