body, html {
    padding: 0;
    margin: 0;
    background-color: #F6F6F6; 
    color: #FFF;
    height: 100%;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#listContainer {
    height: 100%;
}