#nav {
    background-image: url('/bundles/symbbtemplateacp/images/topnavBg.png');
    background-color: #303941;
    color: #FFF;
    height: 34px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #FFF;
    position: fixed;
    top: 0px;
    left: 0px;    
    z-index: 100;
}

#nav a ,
#nav a:active,
#nav a:link,
#nav a:visited {
    color: #FFF;
    text-decoration: none;
}

#nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#nav ul li {
    border-right: 1px solid #000000;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    text-align: center;
}

#nav .right ul li:first-child,
#nav .left ul li:first-child {
    border-left: 1px solid #000000;
}

#nav ul li:hover {
    background-color: #293138;
}

.container .subnavi {
    width: 250px;
    height: 100%;
    border-right: 1px solid #CCC;
    float: left;
    z-index: 90;
}

.container .subnavi ul {
    padding-top: 50px;
}

.container .subnavi ul li {
    padding: 5px;
    background-color: #EEE;
    border-bottom: 1px dotted #CCC;
}

.container .subnavi ul li:hover {
    background-color: #CCC;
}