{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layoutWithSidebar.html.twig' %}

{% block symbb_body %}

    <div class="symbb_list">
        {{ symbBBForumMacro.showForumList(forumList, 1) }}
    </div>
    
{% endblock %}

