{% extends getSymbbTemplateConfig('forum') ~ '::layout.html.twig' %}

{% import "SymBBTemplateSimpleBundle:Forum:macros.html.twig" as symbBBForumMacro %}

{% block stylesheets %} 
    {% stylesheets 
        '@SymBBTemplateSimpleBundle/Resources/public/css/forum.css' filter='?yui_css'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
    
    
{% block symbb_forum_navi %} 
    {% include "SymBBTemplateSimpleBundle:Forum:navi.html.twig" %}
{% endblock %}

{% block symbb_forum_body %}

    <div class="symbb_forum_list">
        {{ symbBBForumMacro.showForumList(forumList) }}
    </div>
{% endblock %}

