{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layout.html.twig' %}



{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(forum) }}
{% endblock %}

{% block symbb_body %}

    <div class="symbb_list">
        {{ symbBBForumMacro.showForumList(forum.getChildren(), 1) }}
        {% if forum.getType() == 'forum' %}
            {{ symbBBForumMacro.showTopicList(forum) }}
        {% endif %}
    </div>
{% endblock %}

